#app {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

#app .app-header {
  width: 100%;
  height: 6rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#app .app-header .logo {
  height: 100%;

  display: flex;
  align-items: center;

  padding: 1rem 1.4rem;
  border-radius: 0.4rem;

  /* background: rgba(0, 0, 0, 0.1); */
  /* box-shadow: 10px 10px 20px 20px rgba(0, 0, 0, 0.1); */
}

#app .app-header .logo > img {
  margin-right: 1rem;

  width: 3.4rem;
  height: 3.4rem;

  animation: spin 25s infinite linear;
}

#app .app-header .logo div {
  flex: 1;

  display: flex;
  align-items: baseline;
}

#app .app-header .logo div strong {
  font-size: 2.6rem;
}

#app .app-header .logo div span {
  font-family: 'Poiret One', sans-serif;

  font-weight: 500;
  font-size: 1.6rem;
}

#app .app-header .github-anchor {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1.4rem;
  border-radius: 50%;

  color: #eee;
  background: #1a1a1a;
  transition: background-color 0.25s;
}

#app .app-header .github-anchor:hover {
  background: #101010;
}

#app .container {
  flex: 1;
  display: flex;
}

#app .container .left-container {
  display: grid;
  grid-template-rows: 0.4fr 1fr 1fr;

  flex: 1;
  min-width: 300px;

  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.25),
      /* rgba(0, 0, 0, 0), */ rgba(0, 0, 0, 0.25)
    ),
    url(/assets/images/sun.jpg) no-repeat center;

  background-size: cover;
}

#app .container .left-container .weather-short-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#app .container .left-container .weather-short-info h1 {
  font-weight: 400;
  font-size: 10rem;
}

#app .container .left-container .weather-short-info strong {
  font-size: 3rem;
}

#app .container .left-container .weather-short-info span {
  font-size: 2rem;
}

#app .container .right-container {
  display: grid;
  grid-template-rows: 1fr 4fr;

  padding: 2rem;

  width: 100%;
  max-width: 700px;

  z-index: 1;
}

#app .container .right-container #search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  width: 100%;

  display: flex;
  align-items: center;

  padding: 0.8rem 1rem;

  border-radius: 0.4rem;
  background: #fff;

  margin-bottom: 1rem;
}

.input-container input {
  flex: 1;
  height: 2.8rem;

  color: #292929;

  border: 0;
  padding: 0.4rem 1rem;
  outline-color: #fff;
}

.input-container input::placeholder {
  color: #666;
}

.input-container img {
  color: #292929;
  margin-left: 2rem;
}

#app .container .right-container .weather-long-info {
  display: grid;
  grid-template-rows: 1fr 3fr;
}

#app .container .right-container .weather-long-info > div {
  flex: 1;
  width: 100%;
}

#app .container .right-container .weather-long-info .maximum-minimum {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#app .container .right-container .weather-long-info .maximum-minimum > div {
  position: relative;

  padding: 0 6rem;
}

#app .container .right-container .weather-long-info .maximum-minimum > div img {
  width: 8rem;
  height: 8rem;

  margin: 1rem;
}

#app
  .container
  .right-container
  .weather-long-info
  .maximum-minimum
  > div
  span {
  position: absolute;

  top: 0;
  right: -1rem;

  font-size: 2rem;
}

#app .container .right-container .weather-long-info .general-info {
  display: flex;
  justify-content: space-around;
  align-items: center;

  flex-wrap: wrap;
}

#app .container .right-container .weather-long-info .general-info .info-card {
  display: flex;
  align-items: center;
}

#app
  .container
  .right-container
  .weather-long-info
  .general-info
  .info-card
  img {
  width: 6rem;
  height: 6rem;

  margin: 1rem;
}

#app
  .container
  .right-container
  .weather-long-info
  .general-info
  .info-card
  span {
  font-weight: 700;
  font-size: 2rem;
}

.svg {
  filter: invert(97%) sepia(1%) saturate(325%) hue-rotate(16deg)
    brightness(115%) contrast(87%);
}

#loading-container {
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#loading-container img {
  width: 8rem;
}

/* --------------------------------- */

@media (max-width: 800px) {
  #app .container {
    display: flex;
    flex-direction: column;
  }

  #app .container .right-container {
    align-self: center;
  }
}
